In [1]:
import pandas as pd

In [3]:
input = pd.read_csv("../output/harmonized_screens.csv").drop(columns = "screen")
input

        Unnamed: 0                                       seq    z-score
0                0  YYSSLGVEPWDLDGLFEFSRLLVDLNMDGFKIDWDYEVAE  39.863967
1                1  HLDVDLFADVEIDDPPQIDFDEVLSLVDDGQNPSSCVESF  67.641322
2                2  HLDSSNSFDAAASGDSDDDYLFDTSVLRFSNDDDGDLYLK   6.949263
3                3  HLDFPDMFDDALDLDAYDLGSLLSDIDSPMDFKDDMPTNY  49.213636
4                4  HKQSVAPTTLVDLNPIITCYSEWRSTDDLKDLLLEDFIDK  66.502383
...            ...                                       ...        ...
104185      104185  SDFVVKAEDVEASMAIFWTPGTRVKMAMETEDSSRITWFQ   0.730194
104186      104186  EASMAIFWTPGTRVKMAMETEDSSRITWFQGIVFYTYQET   1.022412
104187      104187  GTRVKMAMETEDSSRITWFQGIVFYTYQETGPWRGSPWNS  -0.331438
104188      104188  EDSSRITWFQGIVFYTYQETGPWRGSPWNSFRYKIPFTIP   2.564526
104189      104189  RITWFQGIVFYTYQETGPWRGSPWNSFRYKIPFTIPLIFL  16.575984

[104190 rows x 3 columns]

In [4]:
input.to_csv('../output/harmonized_screens_parrot_input.tsv', sep='\t', index=False, header=False)